/*impostazioni header*/
header
{
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    padding-bottom: 20px;
    h1
    { 
        text-align: center;
        font-size: 50px;
    }
    div
    {
        display: flex;
        justify-content: center;
    } 
    button
    {
        background-color: black;
        color: aliceblue;
        border-radius: 10px;
    } 
    button:hover
    {
        background-color: aliceblue;
        color: black; 
        cursor: pointer;
    }
}
/*partita*/
/*area giocatori*/
#areaGiocatori
{
    background-color: darkgray;
    border-radius: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*giocatori*/

    #giocatore
    {
        position: absolute;
        top: 805px;
    }
    #bot1
    {
        position: absolute;
        left: 170px;
    }
    #bot2
    {
        position: absolute;
        top: 240px;
    }
    #bot3
    {
        position: absolute;
        right: 165px;
    }
}
/*area tavolo*/
#tavolo
{
    background-color: darkgreen;
    border-radius: 25px;
    border: 5px solid black;
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*immagine mazzo di carte*/
    img
    {
        width: 280px;
        height: auto;
        position: absolute;
        top: 0px;
        right: 0px;

    }
    /*bottone gioca*/
    button
    {
        font-size: 40px;
        background-color: black;
        color: aliceblue;
        border-radius: 20px;
    }
    button:hover
    {
        background-color: aliceblue;
        color: black;
        cursor: pointer;
    }
} 
/*area footer*/
footer
{
    background-color: black;
    color: aliceblue;
}
