body
{
    background-color: lightgray;
}
/*impostazioni header*/
header
{
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    padding-bottom: 20px;
    h1
    { 
        text-align: center;
        font-size: 50px;
    }
    div
    {
        display: flex;
        justify-content: center;
    } 
    button
    {
        background-color: black;
        color: aliceblue;
        border-radius: 10px;
    } 
    button:hover
    {
        background-color: aliceblue;
        color: black; 
        cursor: pointer;
    }
}
/*partita*/
/*area statistiche*/
#areaStatistiche
{
    background-color: sandybrown;
    border-radius: 10px;
    border: 5px solid black;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    table, th, td
    {
        border: 4px solid black;
    }
    th, td
    {
        font-size: 20px;
    }
}
/*area giocatori*/
#areaGiocatori
{
    background-color: darkgray;
    border-radius: 10px;
    border: 5px solid black;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*area tavolo*/
#tavolo
{
    background-color: darkgreen;
    border-radius: 25px;
    border: 5px solid black;
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*nomi giocatori*/
    #giocatore
    {
        position: absolute;
        bottom: 10px;
    }
    #bot1
    {
        position: absolute;
        left: -60px;
    }
    #bot2
    {
        position: absolute;
        top: -50px;
    }
    #bot3
    {
        position: absolute;
        right: -10px;
    }
    
    /*immagine mazzo di carte*/
    #mazzoCarte
    {
        width: 280px;
        height: auto;
        position: absolute;
        top: 0px;
        right: 0px;

    }
    h2
    {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    /*bottone gioca*/
    #bottoneGioca
    {
        font-size: 40px;
        background-color: black;
        color: aliceblue;
        border-radius: 20px;
    }
    #bottoneGioca:hover
    {
        background-color: aliceblue;
        color: black;
        cursor: pointer;
    }
} 
/*area footer*/
footer
{
    background-color: black;
    color: aliceblue;
}
